.allContent {
    padding: 15px;
}

.affairs {


}

.selectButtons {
    padding: 2px 5px;
}

.buttonConteiner {
    margin: 20px 0 0 30px;
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}

.deleteButton {
    border-radius: 10px;
    outline: none;
    background-color: rgba(252, 252, 246, 0.7);
    width: 40px;
    height: 25px;
    margin: 0px;
}

.name {
    margin: 0px 30px;
    width: 80px;
    height: 30px;
}

.task {
    font: bold 100% sans-serif;
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.low {
    color: #71BC78;
    font-style: italic;

}

.middle {
    color: #FFB02E;
    font-style: italic;
}

.high {
    color: #AF2B1E;
    font-style: italic;
}
