.select {
    width: 100px;
    padding: 5px;
    margin: 10px;

    cursor: pointer;
    background-color: plum;
    outline: none;

    border: 2px inset  blueviolet;
}
.select:focus{
    border: 2px  inset #1f0239;
    outline: none;
}

.option {

}
.option:focus {

}
.option:checked {

}